StudentMaterial/Data Files/Data Files/Class Labfiles/Invoice.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:complexType name="INVOICE">
		<xs:sequence>
			<xs:element ref="Header"/>
			<xs:element ref="LineItem" maxOccurs="unbounded"/>
			<xs:element ref="Summary" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="partner" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="transaction" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="version" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="INVOICE" type="INVOICE"/>
	<xs:complexType name="Header">
		<xs:sequence>
			
			<xs:element ref="Partner" minOccurs="0"/>
			<xs:element ref="Transaction" minOccurs="0"/>
		
			<xs:element ref="PODate" minOccurs="0"/>
			<xs:element ref="PONumber" minOccurs="0"/>
			<xs:element ref="InvoiceDate"/>
			<xs:element ref="InvoiceNumber"/>
			<xs:element ref="BillOfLading" minOccurs="0"/>
			<xs:element ref="ShipDate"/>
			<xs:element ref="ShipTo" minOccurs="0"/>
			<xs:element ref="RemitTo" minOccurs="0"/>
			<xs:element ref="TermsOfSale"/>
			<xs:element ref="Comments" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Header" type="Header"/>
  	
	<xs:complexType name="Partner" mixed="true"/>
	<xs:element name="Partner" type="Partner"/>
	<xs:complexType name="Transaction" mixed="true"/>
	<xs:element name="Transaction" type="Transaction"/>
 
	<xs:complexType name="InvoiceDate" mixed="true"/>
	<xs:element name="InvoiceDate" type="InvoiceDate"/>
	<xs:complexType name="InvoiceNumber" mixed="true"/>
	<xs:element name="InvoiceNumber" type="InvoiceNumber"/>
	<xs:complexType name="PODate" mixed="true"/>
	<xs:element name="PODate" type="PODate"/>
	<xs:complexType name="PONumber" mixed="true"/>
	<xs:element name="PONumber" type="PONumber"/>
	<xs:complexType name="BillOfLading" mixed="true"/>
	<xs:element name="BillOfLading" type="BillOfLading"/>
	<xs:complexType name="ShipDate" mixed="true"/>
	<xs:element name="ShipDate" type="ShipDate"/>
	<xs:complexType name="VendorAddress">
		<xs:sequence>
			<xs:element ref="Name" minOccurs="0"/>
			<xs:element ref="Street" minOccurs="0"/>
			<xs:element ref="City" minOccurs="0"/>
			<xs:element ref="State" minOccurs="0"/>
			<xs:element ref="ZipCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>


	<xs:element name="VendorAddress" type="VendorAddress"/>
	<xs:complexType name="ShipTo">
		<xs:sequence>
			<xs:element ref="Name" minOccurs="0"/>
			<xs:element ref="Street" minOccurs="0"/>
			<xs:element ref="City" minOccurs="0"/>
			<xs:element ref="State" minOccurs="0"/>
			<xs:element ref="ZipCode" minOccurs="0"/>
			<xs:element ref="StoreLocation" minOccurs="0"/>
			<xs:element ref="Department" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>


	<xs:element name="ShipTo" type="ShipTo"/>
	<xs:complexType name="RemitTo">
		<xs:sequence>
			<xs:element ref="Name" minOccurs="0"/>
			<xs:element ref="Street" minOccurs="0"/>
			<xs:element ref="City" minOccurs="0"/>
			<xs:element ref="State" minOccurs="0"/>
			<xs:element ref="ZipCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RemitTo" type="RemitTo"/>
	<xs:complexType name="TermsOfSale">
		<xs:sequence>
			<xs:element ref="DiscountPercent"/>
			<xs:element ref="DiscountDaysDue"/>
			<xs:element ref="TermsNetDays"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TermsOfSale" type="TermsOfSale"/>
	<xs:complexType name="Comments" mixed="true"/>
	<xs:element name="Comments" type="Comments"/>
	<xs:complexType name="Name" mixed="true"/>
	<xs:element name="Name" type="Name"/>
	<xs:complexType name="Street" mixed="true"/>
	<xs:element name="Street" type="Street"/>
	<xs:complexType name="City" mixed="true"/>
	<xs:element name="City" type="City"/>
	<xs:complexType name="State" mixed="true"/>
	<xs:element name="State" type="State"/>
	<xs:complexType name="ZipCode" mixed="true"/>
	<xs:element name="ZipCode" type="ZipCode"/>
	<xs:complexType name="StoreLocation" mixed="true"/>
	<xs:element name="StoreLocation" type="StoreLocation"/>
	<xs:complexType name="Department" mixed="true"/>
	<xs:element name="Department" type="Department"/>
	<xs:complexType name="DiscountPercent" mixed="true"/>
	<xs:element name="DiscountPercent" type="DiscountPercent"/>
	<xs:complexType name="DiscountDaysDue" mixed="true"/>
	<xs:element name="DiscountDaysDue" type="DiscountDaysDue"/>
	<xs:complexType name="TermsNetDays" mixed="true"/>
	<xs:element name="TermsNetDays" type="TermsNetDays"/>
	<xs:complexType name="LineItem">
		<xs:sequence>
			<xs:element ref="AssignedIdentification" minOccurs="0"/>
			<xs:element ref="QuantityShipped"/>
			<xs:element ref="QuantityOrdered"/>
			<xs:element ref="UOM"/>
			<xs:element ref="UnitPrice"/>
			<xs:element ref="ProductCode"/>
			<xs:element ref="UPCCode" minOccurs="0"/>
			<xs:element ref="ItemDescription" minOccurs="0"/>
			<xs:element ref="TermsTypeCode" minOccurs="0"/>
			<xs:element ref="TermsDiscountPercent" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LineItem" type="LineItem"/>
	<xs:complexType name="AssignedIdentification" mixed="true"/>
	<xs:element name="AssignedIdentification" type="AssignedIdentification"/>
	<xs:complexType name="QuantityShipped" mixed="true"/>
	<xs:element name="QuantityShipped" type="QuantityShipped"/>
	<xs:complexType name="QuantityOrdered" mixed="true"/>
	<xs:element name="QuantityOrdered" type="QuantityOrdered"/>
	<xs:complexType name="UOM" mixed="true"/>
	<xs:element name="UOM" type="UOM"/>
	<xs:complexType name="UnitPrice" mixed="true"/>
	<xs:element name="UnitPrice" type="UnitPrice"/>
	<xs:complexType name="ProductCode" mixed="true"/>
	<xs:element name="ProductCode" type="ProductCode"/>
	<xs:complexType name="UPCCode" mixed="true"/>
	<xs:element name="UPCCode" type="UPCCode"/>
	<xs:complexType name="ItemDescription" mixed="true"/>
	<xs:element name="ItemDescription" type="ItemDescription"/>
	<xs:complexType name="TermsTypeCode" mixed="true"/>
	<xs:element name="TermsTypeCode" type="TermsTypeCode"/>
	<xs:complexType name="TermsDiscountPercent" mixed="true"/>
	<xs:element name="TermsDiscountPercent" type="TermsDiscountPercent"/>
	<xs:complexType name="Summary">
		<xs:sequence>
			<xs:element ref="TotalInvoiceAmount" minOccurs="0"/>
			<xs:element ref="NumberOfLineItems" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Summary" type="Summary"/>
	<xs:complexType name="TotalInvoiceAmount" mixed="true"/>
	<xs:element name="TotalInvoiceAmount" type="TotalInvoiceAmount"/>
	<xs:complexType name="NumberOfLineItems" mixed="true"/>
	<xs:element name="NumberOfLineItems" type="NumberOfLineItems"/>
</xs:schema>
